<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>$title$</title>

  <link rel="stylesheet" href="/style.css">
</head>

<body>

$if(title)$
<header>
  <h1 class="title">$title$</h1>
  <hr>
</header>
$endif$

<main>
$body$
</main>

<footer>
  <p>
    &copy; $year$ Quinten Buwalda. No Rights Reserved
    ·
    built with <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>
  </p>
  <!-- <p>All views and opions are my own.</p> -->
</footer>

</body>
</html>